.star-cont {
    display: flex;

}

.star-cont>input {
    display: none;
}

.star-cont>label {
    display: block;
    cursor: pointer;
    width: 3rem;
    background-color: blueviolet;
    height: 50px;
}

.star-cont>label:before {
    content: '\f005';
    font-family: fontAwesome;
}