.range{
    height: 1.5rem;
    width: 400px;
    -webkit-appearance: none;
    background-color: #1111;
    outline: none;
    border-radius: 1.5rem;
    overflow:hidden;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 1);

}
.range::-webkit-slider-thumb{
    -webkit-appearance:none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--ICONS-ORANGE);
    cursor: pointer;
    border: 1px solid black;
}