@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Oswald&family=Pacifico&display=swap');

/* resetting Html */

:root {
    --ICONS-ORANGE: #fab75f;
    --PURE-BLACK: #212529;
    --PURE-WHITE: #ffffff;
    --ERROR-RED: #d90429;
    --ERROR-RED-DARK: #9d0208;
    --SUCCESS-GREEN: #2b9348;
    --SUCCESS-GREEN-DARK: #386641;
    --WARN-YELLOW: #fcca46;
    --495057: #495057;
    --6C757D: #6C757D;
    --DEE2E6: #DEE2E6;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'oswald', sans-serif;

}

img {
    height: 100%;
    width: 100%;
}

img,
embed,
object,
video {
    max-height: 100%;
    max-width: 100%;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.872rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.328rem;
}

h6 {
    font-size: 1.072rem;
}

button {
    border: none;
}


i {
    cursor: pointer;
}
a{
    text-decoration: none;
}

/* General utility classes */
.spacing-dividing {
    margin: 5rem;
}

.circle-border-radius {
    border-radius: 50%;
}

.smooth-square-radius {
    border-radius: 4px;
}

.sub-text {
    font-size: 1.6rem;
    color: var(--6C757D);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
.text-center{
    text-align: center;
}