@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Oswald&family=Pacifico&display=swap');
:root {
    --icons-orange:#fab75f;
    --pure-black: #212529;
    --pure-white:#ffffff;
    --error-red:#d90429;
    --error-red-dark:#9d0208;
    --success-green:#2b9348;
    --success-green-dark:#386641;
    --warn-yellow:#fcca46;
    --495057: #495057;
    --6C757D: #6C757D;
    --DEE2E6: #DEE2E6;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'oswald', sans-serif;
   
}
img{
    height:100%;
    width:100%;   
}
img,embed,object,video {
    max-height:100%;
     max-width:100%;   
}
h1{
font-size: 3.2rem;
}
h2{
    font-size: 2.4rem;
}
h3{
    font-size: 1.872rem;
}
h4{
    font-size:1.6rem;
}
h5{
    font-size:1.328rem ;
}
h6{
    font-size:1.072rem;}